<div class="innerPage">
    <header>
        <div class="container-fluid pbottom10">
            <div class="row-fluid">
                <div class="col-lg-2 col-sm-2">
                    <div class="brand"><h1>NCBS Travel</h1></div>
                </div>
                <div class="col-lg-9 col-lg-offset-1 col-sm-10 headerRight">
                    <div class="headedTopRight">
                     
                        <div class="headerUser">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="images/user.jpg" alt=""></a>
                            <div class="dropdown-menu dropdown-menu-right profile-dd">
                                <div class="username"><span>Welcome,</span> {{logginName}}</div>
                                <ul>
                                   	<li><span>Employe No </span>{{logginEmpNo}}</li>
									<li><span>Email </span>	<div>{{logginEmail}}</div></li>
									<li><span>Business Group </span>{{logginBusinessNo}}
									<li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default navfixed">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a ui-sref="home">PRE TRAVEL</a></li>
                        <li><a href="javascript:void(0)" class="active">POST TRAVEL</a></li>
						<li><a ui-sref="approval">APPROVAL</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content">
        <div class="container-fluid">
		  <div class="row customiedFrom">
                        <div class="col-lg-12">
                            <div class="row">								
                                <div class="col-lg-6 col-lg-offset-3">
                                    <form class="form-horizontal" name="addPostForm" novalidate border="1">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Travel Request Id</label>
                                            <div class="col-sm-6">
											<select name="travel_request_id" ng-model="addPostData.travel_request_id" class="form-control" required>
												<option value=""></option>
												<option value="1">1</option>
												<option value="2">2</option>
											</select>
                                            </div>
                                        </div>
										<div class="form-group">
                                            <label for="" class="col-sm-4 control-label">Mission Type</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="missiontype" ng-model="addPostData.first_name" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">Travel Type</label>
                                            <div class="col-sm-6">
                                            <input type="text" name="traveltype" ng-model="addPostData.traveltype" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">Travel Destination / Route</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="traveldestination" ng-model="addPostData.traveldestination" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">Ticket / Trip</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="tickettrip" class="form-control" ng-model="addPostData.tickettrip" value="" />
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">Road</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="road" ng-model="addPostData.road" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">Total Kilometers Travelled</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="total_kilometter_travel" ng-model="addPostData.total_kilometter_travel" class="form-control" value="" required>
                                            </div>
                                        </div>
										
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Travel Start Date</label>
									<div class="col-sm-6">
									<input type="text" name="travel_start_date" ng-model="addPostData.travel_start_date" class="form-control" value="" />
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Depature Time</label>
									<div class="col-sm-6">
										<input type="text" name="depature_time" ng-model="addPostData.depature_time" class="form-control" value="" />
									</div>
								</div>
									
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Travel Return Date</label>
									<div class="col-sm-6">
									<input type="text" name="travel_return_date" ng-model="addPostData.travel_return_date" class="form-control" value="" />
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Arrival Time</label>
									<div class="col-sm-6">
										<input type="text" name="arrival_time" ng-model="addPostData.arrival_time" class="form-control" value="" />
										</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Number Of Days Travelled</label>
									<div class="col-sm-6">
										<input type="text" name="number_of_days_travelled" ng-model="addPostData.number_of_days_travelled" class="form-control" value="" />
										</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Accomodation Arranged By</label>
									<div class="col-sm-6">
									<input type="text" name="accomodation_arranged_by" ng-model="addPostData.accomodation_arranged_by" class="form-control" value="" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Employee Category</label>
									<div class="col-sm-6">
										<input type="text" name="employee_category" ng-model="addPostData.employee_category" class="form-control" value="" />
										</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Travel Category</label>
									<div class="col-sm-6">
										<input type="text" name="travel_category" ng-model="addPostData.travel_category" class="form-control" value="" />
										</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Air-Ticket Arranged By</label>
									<div class="col-sm-6">
									<input type="text" name="air_ticket_arranged_by" ng-model="addPostData.air_ticket_arranged_by" class="form-control" value="" />
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Road- Arranged By</label>
									<div class="col-sm-6">
									<input type="text" name="road_arranged_by" ng-model="addPostData.road_arranged_by" class="form-control" value="" >
									</div>
								</div>
								

								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Other Expenses</label>
									<div class="col-sm-6">
										<input type="text" name="other_expenses" ng-model="addPostData.other_expenses" class="form-control" value="" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Per-Diem</label>
									<div class="col-sm-6">
										<input type="text" name="perdiem" ng-model="addPostData.perdiem" class="form-control" value="" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Total Per-Diem</label>
									<div class="col-sm-6">
										<input type="text" name="total_perdiem" ng-model="addPostData.total_perdiem" class="form-control" value="" />
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">Hotel Name</label>
									<div class="col-sm-6">
										<input type="text" name="hotel_name" ng-model="addPostData.hotel_name" class="form-control" value="" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label">PNR Number</label>
									<div class="col-sm-6">
										<input type="text" name="pnr_number" ng-model="addPostData.pnr_number" class="form-control" value="" />
									</div>
								</div>
								
								
								<div class="form-group">
									<label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Purpose</label>
									<div class="col-sm-6">
									 <textarea class="form-control descriptionTextArea descriptionTextArea2" ng-model="addPostData.description" rows="3" required ></textarea>
									<span style="color:red" ng-show="addPostForm.description.$dirty && addPostForm.description.$invalid">
									<span ng-show="addPostForm.description.$error.required">Purpose is required.</span>
									</span>
									</div>
								</div>

								
                                  <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Attachment</label>
                                    <div class="col-sm-6">
                                        <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName" data-max-file-size="3">
                                        </div>
                                        <form action>
                                            <div class="imageDragDrop" placeholder="Image browse or Drag and Drop Here">
                                                <input type="file" fileread="uploadme.src" class="imageDragArea" />
                                            </div>
                                            <div class="image-container" ng-class="{'in': uploadme.src, 'dummy': !uploadme.src}">
                                                <img data-ng-src="{{uploadme.src}}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                    </form>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 submitArea">
                                <div class="col-sm-offset-5 col-sm-6">
							<button type="button" class="btn btn-link" ng-click="onCancelUser()" title="Cancel Sensor">Cancel</button>
                            <span class="btn-divider"></span>
                            <button type="submit" class="btn btn-default btnSave" ng-click="OnSubmitUser(addPostData)" title="Save Sensor">Apply</button>
                                </div>
                            </div>
                        </div>

                    </div>
        </div>
    </div>